{% extends 'main/base.html' %}
{% load static %}

{% block title %}
    {{ product.name }}
{% endblock title %}

{% block content %}
    <div class="detail-product">
        <div class="detail-img">
            {% if product.image %}
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="detail-image">
            {% else %}
                <img src="{% static 'img/noimage.jpg' %}" alt="No image available" class="detail-image">
            {% endif %}
        </div>
        <div class="detail-description">
            <h2>{{ product.name }}</h2>
            <h3>Category: {{ product.category }}</h3>
            <p>Description: {{ product.description |linebreaks }}</p>
            {% if product.discount %}
                <div class="cart-discount">
                    <p class="line">{{ product.price }}</p>
                    <p>{{ product.sell_price }}</p>
                </div>
            {% else %}
                 <p class="price">{{ product.price }}</p>
            {% endif %}
            <a href="#" class="cart-btn">Add to cart</a>
        </div>
    </div>
{% endblock content %}